.logo-images {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 320px){

    .logo-images{
        width: 150px;
    }

    .title_welcome{
        font-size: 24pt;
        line-height: 1.3;
    }
}
